
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alexandria:wght@100..900&family=Anton&family=Archivo+Black&family=Gulzar&family=Lalezar&display=swap');

body {
    font-family: "Alexandria", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;

    background-color:  var(--main2);
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-top: 6px #ffca00 solid !important;
    font-size: 16px;

}

.nav-link {
     font-size: 14px !important;
     background: transparent !important;
     font-family: Lato, sans-serif !important;
     text-transform: capitalize !important;
 }
 .nav-link:hover {
     background: transparent !important;
     color: #ffca00 !important;
     font-weight: bold !important;
 }

 .login-btn {
     border: 2px solid #ffca00 !important;
     font-size: 10px !important;
 }
 .login-btn:hover {
     background: #ffca00 !important;
 }
.navbar {
    box-shadow: none !important
}

.navbar-brand {
    font-size: 25px !important
}

.navbar-toggler-icon {
    color: #fff !important
}

.btn {
    border-radius: 10px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.btn-primary {
    background-color: #ffca00!important
}
.btn-secondary {
    background-color: #2C2F33 !important
}
.heading {
    padding: 160px 50px !important;
    color: #fff !important;
    background-image: url("../imgs/Layer 1.png") !important;
    background-position: bottom !important;
    background-size: 300% !important;
    background-repeat: no-repeat !important;
}

.title {
    line-height: 90px !important;
    margin-bottom: -2px !important;
    font-size: 36px !important
}

.subtitle {
    color: rgba(255, 255, 255, 0.685) !important;
    font-size: 16px !important;
    font-family: 'Lato', sans-serif;
}
.our_team {
    text-align: center !important;
    background: #ffca00 !important;
    padding: 60px 50px !important;
    background-image: url("../imgs/Layer 1.png") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}

.features .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.features .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

.features .card-body {
    text-align: left !important;
}

.features .card-title {
    margin: 0 0 -3px !important;
}
.cards {
    margin-top: 30px !important;
}

.card {
    border-radius: 5px !important;
    box-shadow: none !important;
}

.card-title {
    font-size: 28px !important;
    font-weight: 600 !important;
    color: #ffca00 !important;
}

.statistics {
    text-align: center !important;
    padding-top: 300px !important;
}

.statistics .card-body{
    padding: 0 !important;
    height: 280 !important;
    width: 332 !important;
    max-height: 280 !important;
    max-width: 332 !important;
}

.statistics .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.statistics .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

.card.statistic {
    background: transparent !important;
    box-shadow: none !important;
    color: #f7f7f7 !important;
}


.page_end {
    background-image: url("../imgs/Layer 1.png") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}
.start {
    padding: 60px 50px !important
}

.start .card {
    background: transparent !important;
    color: #f6f9ff !important;
}

.features .card {
    background:  var(--main2);
    border-radius: 22px !important;
    border: 4px solid #ffca00;
}
.features .card-text {
color: rgba(255, 255, 255, 0.46) !important
}

.features .card-body {
    padding: 40px 40px 40px 30px !important;
}

.navbar-toggler-icon {
    color: #fff !important
}
.footer {
    text-align: center !important;
    padding: 5px 6px !important;
    color: #ecf2ff;
    padding: 30px 30px !important
}

.footer .nouridio {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 5px !important;
    letter-spacing: 0.15em !important;
    font-variant: small-caps !important;
}

.footer .nouridio a {
    color: #ffca00 !important;
    text-decoration: none !important;
}

.footer .bot-footer {
    text-align: center !important;
    color: #a2a8bd !important
}













.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 300px;
  background: white;
  -moz-box-shadow: 0px 0px 50px #444444;
  -webkit-box-shadow: 0px 0px 50px #444444;
  box-shadow: 0px 0px 50px #444444;
}

.cover {
  position: relative;
  height: 200px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
}
.cover h1 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(68, 68, 68, 0.5);
  font-family: helvetica, sans-serif;
  line-height: 5.5;
  text-align: center;
  text-transform: uppercase;
}
.cover:hover {
  cursor: pointer;
}
.m {
  position: absolute;
  top: 200px;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  border: 5px white solid;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUyZWRjNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzVhYzhmYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #52edc7), color-stop(100%, #5ac8fb));
  background-image: -moz-linear-gradient(#52edc7, #5ac8fb);
  background-image: -webkit-linear-gradient(#52edc7, #5ac8fb);
  background-image: linear-gradient(#52edc7, #5ac8fb);
  color: white;
  text-align: center;
  font-size: 4rem;
  line-height: 1.5;
}
.m .typicons-user:before {
  font-family: "Typicons";
}

p {
  margin: 45px 25px 25px;
  padding-top: 25px;
  font-size: 1rem;
}

.title-color {
    color: var(--main);
}
.our_team {
    font-family: "Anton", sans-serif;
    font-weight: 200;
    font-optical-sizing: auto;
}
.our_team .team{
    position: relative;

    display: inline-block;
    color: var(--main);
    background: var(--main2);
    width: 300px;
    height: 400px;
    border-radius: 10px;
    margin: 3%;
  transition: .5s;
  margin-bottom: 2rem;
    border: 3px solid var(--main);
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.739);


}

.our_team .team::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 100px;
    bottom: -2%;
    left: 37%;
    border-radius: 8px;
    background: var(--main);
}
.our_team .team h5{
    color: var(--text-color2) !important;
    filter: brightness(75%);


}
.our_team .team data{
    position: relative;
    top: 10%;

}

.our_team .team img{
    position: relative;
    top: 2%;
    border-radius: 20%;
    width: 60%;
    border: 3px solid var(--main);

    

}
.FAQ {
    padding: 160px 50px !important;
    color: #fff !important;
    background-image: url("../imgs/Layer 1.png") !important;
    background-position: bottom !important;
    background-size: 300% !important;
    background-repeat: no-repeat !important;
    transform: scaleY(-1);
}


.accordion {
    transform: scaleY(-1);
    
    width: 50%;
    position: relative;
    top: -250px;
    left: 25%;

}